<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RestaurantDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>46FD3BDE1E51A0D7007E29AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>46FD3BF51E51A0D7007E29AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>46FD3C001E51A0D7007E29AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
